<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>Выполненные</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <th> Время и дата </th>
        <th> Тип задачи </th>
        <th> Комната </th>
        <th> Пометка </th>
      </thead>
      <tbody>
        <tr ng-repeat="task in vm.tasks">
          <td> {{ task.executionDate | date : "short" }} </td>
          <td> {{ task.type.name }} </td>
          <td> {{ task.room }} </td>
          <td> {{ task.comment }} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>