<div id="layout">
  <ul class="nav nav-pills">
    <li ng-class="{ active: vm.isActive('app.tasks') }" class="nav-button"><a ui-sref="app.tasks">Задачи</a></li>
    <li ng-class="{ active: vm.isActive('app.types') || vm.isActive('app.newtype') }" class="nav-button"><a ui-sref="app.types">Типы задач</a></li>
    <li ng-class="{ active: vm.isActive('app.itemslist') }" class="nav-button"><a ui-sref="app.itemslist">Cписок</a></li>
    <li id="newTaskBtn" ng-class="{ active: vm.isActive('app.newtask') }" class="nav-button pull-right"><a ui-sref="app.newtask">Новая задача</a></li>
  </ul>
  <div ui-view></div>
  <p> 
    (c) 
    2016 made by | 
    <a href="http://www.github.com/sancau"> github.com/sancau</a>
</div>