<div class="panel panel-primary ngDialog-contents">
  <div class="panel-heading">
    <h4> Новый тип задач </h4>
  </div>
  <div class="panel-body">
    <div class="width600">     
      <div class="form-group">
        <label class="control-label"> Название </label>
        <input type="text" class="form-control" ng-model="vm.newType.name">
      </div>
      <button class="btn btn-success btn-lg"" ng-click="vm.saveType()"> Добавить </button> 
      <button class="btn btn-danger btn-lg" ui-sref="app.types"> Назад </button>  
    </div>
  </div>
</div>