<div class="panel panel-primary ngDialog-contents">
  <div class="panel-heading">
    <h4> Новая задача </h4>
  </div>
  <div class="panel-body">
    <div class="width600">

      <div class="form-group">
        <label for="type" class="control-label"> Тип задачи </label>
        <select 
          name="type" 
          class="form-control"
          ng-model="vm.type", 
          ng-options="t._id as t.name for t in vm.typeOptions">
        </select>
      </div>

      <div class="form-group">
        <label for="root" class="control-label"> Комната (место) </label>
        <input type="text" name="root" class="form-control" ng-model="vm.room"></select>
      </div>

      <div class="form-group">
        <label for="comment" class="control-label"> Комментарий </label>
        <textarea name="comment" class="form-control" ng-model="vm.comment"> </textarea>
      </div>

      <button class="btn btn-lg btn-success" ng-click="vm.saveTask()"> Сохранить </button>

    </div>
  </div>
</div>